/* App.css */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #e3f2fd; /* Light blue background */
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  color: #1a237e; /* Dark blue text */
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1a237e;
  color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #ff9800; /* Orange color for links */
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Dark Mode Toggle */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 40px;
  background-color: #1a237e;
  color: #fff;
}

.dark-mode-toggle input {
  margin-left: 10px;
}
